

body {
    background-color: rgb(56, 56, 56);
}

.wrapper {
    background-color: #fff;
    margin: 50px auto 0;
    width: 500px;
    height: auto;
    padding: 10px 10px 40px;
}

.header, .content {
    display: flex;
}

.text {
    flex-direction: row;
}

img {
    width: auto;
    height: 80px;
    margin-left: auto;
}

.top-paragraph {
    margin-top: 0;
}

div .text {
    margin-right: 10px;
}

form input{
    border-style: hidden hidden groove;
}

.footer {
    text-align: center;
}

button {
    padding: 5px;
    border: solid rgba(255,255,255,0);
    background-color: gray;
    color: #fff;
}
